<launch>

	<!-- Arguments -->
	<arg name="camera" default="/camera"/>

  <!-- Play the bagfile -->

  <!-- Run the stereo image proc -->

  <!-- Viso2 -->
  <node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer" output="screen">
    <remap from="stereo" to="$(arg camera)"/>
    <remap from="image" to="image_rect_color"/>
    <param name="base_link_frame_id" value="$(arg camera)"/>
    <param name="ref_frame_change_method" value="1"/>
  </node>

</launch>
